.landing-container {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  padding: 16px;
  width: 550px;
}
.landing-container-content {
  display: flex;
  flex: 1;
  justify-content: center;
}
.landing-container-content .row, .landing-container-content .col {
  flex: 1;
}

.landing-container-content h1, .landing-container-content h2 {
  margin: 0;
  font-weight: normal;
}

.landing-container-content h1 b {
  color: rgb(200,0,255);
}

.landing-container-content button {
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 20px;
  transition: background-color 250ms;
  transition-timing-function: ease-in;
}
.landing-container .btn:hover {
  background: white;
  cursor: pointer;
  transition-timing-function: ease-out;
}

.landing-container .btn div {
  opacity: 0;
  transition: opacity 250ms;
  transition-timing-function: ease-in;
}
.landing-container .btn:hover div {
  opacity: 1;
  transition-timing-function: ease-out;
}


.landing-container-content .constellation {
  min-width: 320px;
  max-width: 320px; 
  min-height: 320px;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
}


.landing-container-content .constellation > div {
  display: block;
  position: absolute;
}

.landing-container .links svg {
  opacity: 0.5;
  transition: all 100ms ease-in-out;
}

.landing-container .links svg:hover {
  opacity: 1;
  cursor: pointer;
}
