.landing-container {
  height: 400px;
    color: white;
}

.landing-container .row {
  display: flex;
  flex-direction: row;
}

.landing-container .col {
  display: flex;
  flex-direction: column;
}

.landing-container h1 {
  margin: 0;
  font-weight: normal;
}

.landing-container h2 {
  margin: 0;
  font-weight: normal;
}

.landing-container h1 b {
  color: rgb(200,0,255);
}

.landing-container button {
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: background-color 250ms;
  transition-timing-function: ease-in;
}
.landing-container button:hover {
  background: white;
  transition-timing-function: ease-out;
}

.landing-container button div {
  margin-left: 38px;
  opacity: 0;
  transition: opacity 250ms;
  transition-timing-function: ease-in;
}
.landing-container button:hover div {
  opacity: 1;
  transition-timing-function: ease-out;
}


.landing-container .constellation {
  background-color: red;
}
.landing-container .constellation > div {
  display: block;
  position: absolute;
}
