.projects {
  color: white;
  text-align: left;
  padding: 16px;
}

.projects h1,
.projects h2,
.projects h3 {
  margin: 0;
}

.projects button.back-button {
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  flex: 0;
  padding: 8px;
  opacity: 0.8;
  transform-origin: center;
  transform: scale(0.9);
  transition: all 200ms ease-in-out;
}

.projects button.back-button:hover {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
  cursor: pointer;
}
.projects button.back-button:active {
  opacity: 1;
  transform-origin: center;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 50ms ease-out;
}


.projects .list-item-container {

  transition: all 250ms ease-in-out;
}
.projects .list-item-container:hover {
  cursor: pointer;
}

.projects .list-item-container .list-item-image {
  background-color: white;
  opacity: 0.2;
  transition: all 250ms ease-in-out;
}

.projects .list-item-container:hover .list-item-image {
  opacity: 0.8;
}