.projects {
  color: white;
  text-align: left;
  padding: 16px;
}

.projects h1,
.projects h2,
.projects h3 {
  margin: 0;
}

.projects button.back-button {
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  flex: 0;
  padding: 8px;
  opacity: 0.8;
  transform-origin: center;
  transform: scale(0.9);
  transition: all 200ms ease-in-out;
}

.projects button.back-button:hover {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
  cursor: pointer;
}
.projects button.back-button:active {
  opacity: 1;
  transform-origin: center;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 50ms ease-out;
}

.projects .list-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.projects .list-item-container {

  transition: all 250ms ease-in-out;
}
.projects .list-item-container:hover {
  cursor: pointer;
}

.projects .list-item-container .list-item-image {
  background-color: white;
  opacity: 0.4;
  transition: all 250ms ease-in-out;
}

.projects .list-item-container:hover .list-item-image {
  opacity: 1;
}

.projects .list-item-text {
  margin-left: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
    .projects .list-content-container {
      margin: auto;
    }

    .projects .list-item-image {
      aspect-ratio: 1;
      width: 100%
    }

    .projects .list-item-text {
      margin-left: 0;
      display: none
    }
    .projects .list-item-container {
      justify-content: space-around;
    }
}

.projects .projects-overlay-bg {
  flex: 1;
  background-color: red;
}