.skills {
  color: white;
  text-align: right;
  padding: 16px;
}

.skills h1, .skills h2, .skills h3 {
  margin: 0;
}

.skills ul {
  /* direction: rtl; */
  list-style-type: disc;
}

.skills ul li {
  display: inline;
}

.skills button.back-button {
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  flex: 0;
  padding: 8px;
  opacity: 0.8;
  transform-origin: center;
  transform: scale(0.9);
  transition: all 200ms ease-in-out;
}


.skills button.back-button:hover {
  opacity:1;
  transform-origin: center;
  transform: scale(1);
  cursor: pointer;
}
.skills button.back-button:active {
  opacity:1;
  transform-origin: center;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 50ms ease-out;
}
