.skills {
  color: white;
  text-align: right;
  padding: 16px;
}

.skills h1,
.skills h2,
.skills h3 {
  margin: 0;
}

.skills .skills-container {
  margin-top: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  direction: rtl;
  row-gap: 8px;
}

.skills-container .skills-item {
  word-break: keep-all;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 2px 8px;
  margin-left: 6px;
}

button.back-button {
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  flex: 0;
  padding: 8px;
  opacity: 0.8;
  transform-origin: center;
  transform: scale(0.9);
  transition: all 200ms ease-in-out;
}

.skills button.back-button:hover {
  opacity: 1;
  transform-origin: center;
  transform: scale(1);
  cursor: pointer;
}
.skills button.back-button:active {
  opacity: 1;
  transform-origin: center;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 50ms ease-out;
}
