.App {
  text-align: center;
  height: 100vh;
  display: flex;

  /** We can use these to define our minimum height of the app container */
  min-height: 270px;
  min-width: 480px;

  align-items: center;
  justify-content: center;
  background-color: rgba(10,10,40);
}
